body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(0, 0, 0, 0.89);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.header {
  border-bottom: rgb(54, 54, 54) 1px solid;
  margin-top: 15px;
}

.heading {
  color: #ffffff;
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  margin-bottom: 2px;
}

.icon-container {
  display: flex;
  justify-content: space-around;
  margin-top: 125px;
}

.icon-big {
  width: 70px;
}

.icon {
  width: 40px;
  fill: #ffff;
}

.overlay {
  opacity: 0;
  transition: 0.1s ease;
  position: absolute;
  background: rgba(37, 39, 44, 0.493);
  width: 300px;
  height: 300px;
}

.article:hover .overlay {
  opacity: 1;
}

.article-container {
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
  grid-gap: 10px;
  padding-top: 10px;
  margin-top: 15px;
}

.article {
  margin-top: 5px;
  width: 250px;
}

.album-image {
  width: 300px;
}

.song-name {
  color: #ffffff;
  font-size: 14px;
  font-family: Helvetica, sans-serif;
  margin-bottom: 0;
}

.song-name:hover {
  text-decoration: underline;
}

.artist-name {
  color: #a0a0a0;
  font-size: 14px;
  font-family: Helvetica, sans-serif;
  margin-top: 0.2cm;
}

.artist-name:hover {
  text-decoration: underline;
}

/* tablet menu */

@media (min-width: 768px) {
  .article-container {
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
  }

  .container {
    width: 600px;
  }
}

/* desktop menu */

@media (min-width: 992px) {
  .article-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .container {
    width: 1230px;
  }
}
